<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
<%
    key1="fuck you";
%>
<%=__filename%>
<%=__dirname%>
    <% include ./include.ejs ? {
        timeout: 3,
        a: "c"
    }| doAsync : key1 %>
    <%package.work ./somefile ? {a:/test|a/gi} : "||" : !!key1 : undefined && key1 | doAsync %>
    <%locals.a="you"%>
    <%-: {a:"fuck "}| get : "a"%>
</body>
</html>